<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.josephblough.fluville"
      android:versionCode="3"
      android:versionName="1.2">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".ApplicationController">
        <activity android:name=".FluVilleCityActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FeedsTabActivity"
                  android:label="@string/cdc_feeds_title"
                  android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".FeedActivity"
                  android:label="@string/weekly_news_title"
                  android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".FluPodcasts"
                  android:label="@string/weekly_news_title"
                  android:theme="@android:style/Theme.Dialog" />

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>